<div class="blog-masthead">
    <div class="row">
        <div class="container">
            <div class= col-md-3>
                <nav class="blog-nav">
                    <a class="blog-nav-item {{ tag_home  }}" href="{% url 'posts:list'  %}">Home</a>
                    <a class="blog-nav-item {{ tag_create }}" href="{% url 'posts:create'%}">Create</a>
                    <a class="blog-nav-item" href="#">About</a>
                </nav>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <nav>
                    <a class="blog-nav-item" href="#">Advancing The Blog | Django & Bootstrap & JQuery</a>
                </nav>
            </div>

        </div>
    </div>
</div>
