<div class="container">
  <form class="form-signin" ng-submit="doLogin(user)">
    <h2 class="form-signin-heading">Login</h2>
    <div class="alert alert-danger" ng-show="loginError.non_field_errors">
      <span ng-repeat="error in loginError.non_field_errors">
        {{ error }}
        <br/>
      </span>      
    </div>
    <label for="inputEmail" class="sr-only">Usuário ou Email</label>
    <input
        type="text"
        id="inputEmail" 
        class="form-control" 
        placeholder="Usuário ou Email"
        ng-model="user.username"
        required 
        autofocus/>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input
        type="password" 
        id="inputPassword" 
        class="form-control" 
        placeholder="Senha" 
        ng-model="user.password"
        required/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div> <!-- /container -->
